.navbody{
  font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 60px;
  display: flex;
  /* border:5px rgb(34, 0, 255) solid; */
  /* background-image:url('../../../public//oos.jpg'); */
  justify-content: space-between;
  background-color: #5a5a5ad6;
  border-bottom: 3px #00ffcc9e solid;
  align-items: center;
  padding: 0px 20px;
}
.nav{
    /* background-image:url('../../../public/ddd.jpg'); */
  height: 100%;
  /* border:2px rgb(255, 0, 0) solid; */
  display: flex;
  align-items:center;
}

.logo{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  /* border:1px red solid; */
   /* background-image:url('../../../public/logo.png'); */
z-index: 9999;
transition: all 0.3s ease;
}
.logopng{
  height: 40px;
  width: 40px;
  margin-right: 7px;
}
.logospan{
  color: #00ffccbf;
  font-size: 20px;
}
.logo:hover{
  scale:calc(108%)
}




.toolbarBody{
  position: absolute;
  z-index: 9999;
  width: 50px;
  height: 280px;
  background-color: rgb(102, 102, 102);
  border: 1.5px #00ffcc9e solid;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 15px;
  left: 38px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  gap: 10px;
}
.toolBtns{border: 1px red solid;}

.SidebarIconBtnS{
  color: aliceblue;
  transition: all 0.2s ease;
}
.SidebarIconBtnS:hover{
  color: greenyellow;
  transform: scale(1.5);

}



.toolbarBodyHidden{
  /* 縮小狀態會跑出箭頭，然後直線消失 */
    left:-26px;
    .iconShowToggle{
      display: block;
    }
    .iconLine{
      display: none;
    }
}

.toggleBtn{
  width: 35px;
  height: 54px;
  border-radius: 40px;
  /* border: 2px rgb(215, 215, 215) solid; */
  background-color: rgba(255, 4, 0, 0);
  position: absolute;
  right: -52px;
  transform: translate(-50%, -50%);
  top: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggleBtn:hover{
  /* border: 2px rgb(215, 215, 215) solid; */

  .iconToggle{
    font-size: 22px;
    color: #00ffccab;
    display: block; 
  }
  .iconLine{
    display: none;
  }

  
}
.iconToggle{
  display: none; 
  color: rgb(185, 185, 185);
}
.iconLine{
  position: absolute;
  right: 13px;
  transform: rotate(90deg) translateY(-39%);
  font-size: 22px;
  color: rgba(136, 136, 136, 0.621);
}
.iconShowToggle{
  display: none;
  font-size: 22px;
  color: #00ffccab;
}


/* 🟧 這段很猛🟧 */
/* 🟧 這段很猛🟧 */
.toolbarBodyHidden:hover{
  .toggleBtn:hover{
    .iconToggle{
      display: none;
    }
    .iconShowToggle{
      display: block;
    }
  }
}
/* 🟧 這段很猛🟧 */
/* 🟧 這段很猛🟧 */





/* .dog{
  color:red;
} */
.custom-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.custom-minimap {
  position: absolute;
  bottom: 60px; /* 調整為 Controls 的高度加上一些間距 */
  left: 10px;
}







/* 🟥🟥🟥按鈕們🟥🟥🟥🟥🟥🟥🟥🟥🟥*/
.dwBtn{
  margin-right: 8px;
  height: 32px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80%;
  color: rgb(255, 255, 255) ;
  border-radius: 80px;
  cursor: pointer;
  background-color:  #6a6a6aa7;
  width: 65px;
  font-size: 15px;
  border: #00ffcc9e  1.5px solid;
  transition: all 0.5s ease;

}
.dwBtn:hover{
  color: rgb(255, 255, 255);
  background-color: #00ffccab ;
  border: rgb(255, 255, 255) 1.5px solid;
}
/* 🟥🟥🟥按鈕們🟥🟥🟥🟥🟥🟥🟥🟥🟥*/