@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Helvetica, sans-serif;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* ======================== */
/* ======================== */

input[type="color"] {
  border: 12px solid #ffffff00;  /* 边框颜色 */
  border-radius: 224px;      /* 圆角 */
  height: 50px;            /* 高度 */
  width: 50px;   
     /* 宽度 */
  /* 更多样式 */
}

/* ======================== */
/* ======================== */

.custom-minimap{


}
.custom-minimap svg{

  background-color: #a8a6a6;
  background-color: #373737;
  position: absolute!important;
  right: -2px !important;
  bottom: -2px  !important;
  border-radius: 10px  !important;
}


.react-flow__controls {
  display: flex;
  /* background-color: #c5c5c5b7; */
  border-radius: 10px;
  position: absolute!important;
  left: 119px !important;
  bottom: 1px  !important;
}
.react-flow__controls-button {
  position: relative; /* 确保 button 为相对定位 */

  /* box-shadow: 0 0 2px 1px greenyellow; */
  box-shadow:none!important;
  border-bottom: 0px solid #ff000000!important; /* 消除本來預設的 */

  color: aliceblue !important;
  border-radius: 22px;
  margin-right: 8px; 
  /* background-color: #5a5a5ad6 !important; */
  background-color: #666666 !important;
  /* background-color: #7e0fe5 !important; */
  box-sizing: border-box !important;
  height: 29px  !important;
  width: 50px !important;
  transition: all 0.1s linear;
  /* padding: 0px 12px ; */
  /* opacity: 0; */
}

.react-flow__controls-button:hover{
  /* box-shadow: 0 0 2px 1px greenyellow; */
  background-color:#00ffccab  !important;
  /* transform: scale(1.1); */
}

.react-flow__controls-button path{
  fill: rgb(255, 255, 255) !important;
}
.react-flow__controls-button svg{
  /* transform: scale(1.2); */
}
.react-flow__controls-button:last-child {
  margin-right: 0;
}
svg {

}



/* 💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜 */
.react-flow__controls-button::before {
  position: absolute;
  bottom: 120%; /* 定位到按钮的上方 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 校正由于 left: 50% 导致的偏移 */
  white-space: nowrap; /* 防止換行 */

  color: rgb(255, 255, 255); 


  opacity: 0; 
  visibility: hidden;

  font-size: 10px;
  padding: 3px 12px;
  background-color: #ffffff;
  background-color: #000000;

}
.react-flow__controls-button:hover::before {
  opacity: 1; 
  visibility: visible; 
}
.react-flow__controls-zoomin::before {
  content: 'Zoom In'; /* 使用 data-hint 属性作为内容 */
}
.react-flow__controls-zoomout::before {
  content: 'Zoom Out'; /* 使用 data-hint 属性作为内容 */
}
.react-flow__controls-fitview::before {
  content: 'Zoom to Content'; /* 使用 data-hint 属性作为内容 */
}
.react-flow__controls-interactive::before {
  content: 'Lock'; /* 使用 data-hint 属性作为内容 */
}
/* 💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜 */




/* ============================================================ */


/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

body, html {
  overflow-x: hidden;
}
@font-face {
  
  font-family: '小濑字体';
  src: url('../NaikaiFont-Regular.ttf') format('truetype');
}
body {
  /* font-family: '小濑字体'; */
  backdrop-filter: blur(2px);

  background-image:url('../../public/讚嘿.jpg');
  /* background-image:url('../../public/ddark.jpg'); */
  /* background-image:url('../../public/ddd.jpg'); */
  /* background-image:url('../../public/aacc.jpg'); */
  /* background-image:url('../../public/bbaaa.jpg'); */
  /* background-image:url('../../public/ppc.jpg'); */
  /* background-color: #54545b; */

  background-repeat:no-repeat;
  background-size:cover;
  
  background-position: 10% 1%; 

}
/* flow的一些 預設樣式 */


.react-flow__node-selectorNode {
  background: #eee;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

/* ==================== */

html, body, #root {
  /* width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; */
  box-sizing: border-box;
}



/* ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ */


.customNodeBody {
  width: 150px;
  height: 80px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.customNode:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  height: 20px;
  width: 40px;
  transform: translate(-50%, 0);
  background: #d6d5e6;
  z-index: 1000;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  /* font-size: 9px; */
  border: 2px solid #222138;
}

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}





