



/* ================================ */
/* ================================ */
.handleStyle {
  position:absolute;
  border:1px rgb(255, 255, 255) solid;
  height: 10px;
  width: 10px;  
}
.handleStyle:hover{
  background-color: white !important ;
}

.handleStyleLeft{

  background-color: #8400ff9e ;
  left: -12px;
}
.handleStyleTop{ 

  background-color: #8400ff9e ;
  top:  -12px;
}
.handleStyleRight{
  background-color: #00ffcc9e ;
  right:  -12px;
}
.handleStyleBottom{
  background-color: #00ffcc9e ;
  bottom: -12px;
}
/* ================================ */
/* ================================ */

