.homepagebody {

  /* background-image:url('../../public/dan.jpg'); */

  /* background-color: black; */
  /* background-position: -320px -220px;  */
    /* background-size:cover; */
  /* background-size: 2320px 1080px;  */
  height: 100vh;
  border: 2px yellowgreen solid;
  
}




.newnavimg{
  max-width: none;
  /* transform: translateY(-500px); */
  transform: translateX(-400px);
  position: absolute;
  top:-180px;
  width:2000px;
  /* transform: rotate(0deg); */
}
.newnavimg2{
  max-width: none;
  /* transform: translateY(-500px); */
  position: absolute;
  top:-180px;
  width:1600px;

  transform: rotate(7deg) translateX(500px);

}


  /* height: 80vh; */
  /* width: 100%; */
  /* border: 2px rgb(255, 2, 2) solid; */
  /* background-image:url('../../public/png_flower.png'); */
  /* background-size:cover; */
  /* background-position: 50% 50%;  */
  /* background-size: 500px 500px;  */
  /* background-repeat: no-repeat; */

.formContainer{
border: red 3px solid;
display: flex;
justify-content: center;
}
