.letsstart{
  position: absolute;
  /* top:90px;
  left: 30px; */
  width: 200px;
  transform:translate(-45%, -125%);
  transition: all 1.5s ease-in-out;
}
.hiddenletsstart{
  position: absolute;
  width: 200px;
  /* transform:translate(-125%, 15%); */
  transform:translate(-165%, -35%);
  /* transition: all 1.5s ease; */
}

.visibleFormwrapper{
  transition: all 0.5s ease;
position: absolute; 
left: 50%;
top: 40%;
transform: translate(-50%, -50%);
}
.hiddenFormwrapper{
  transition: all 0.5s ease;
position: absolute; 
left: 50%;
top: 40%;
transform: translate(-50%, -300%);

}


.inputcontainer{
  position: relative;
  top:74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 550px;
  /* border: 2px rgb(239, 239, 239) solid; */
  background-image:url('../../../public//未命.png');

  /* background-position:  -13px -13px;  */
  background-position:  -10px -122px; 
  background-size: 105%;
  background-repeat: no-repeat;
}

.signintext{
  color: #ffffff;
  font-weight: 300;
  height: 35px;
  font-size: 28px;
  position: relative;
  top: -28px;
}




.registerbtn{
  height: 35px;
  width:200px;
  background-color: rgb(111, 111, 111);

  color: #ffffff;
  border-radius: 7px;
  border: #00ffcd 1.5px solid;


  /* border: 2px solid #00ffcd; */
  margin-bottom: 8px;

}
.registerbtn:hover{
background-color: #00ffcd;
/* background-color: aquamarine; */
/* background-color: #ffdf7f; */

  color: rgb(255, 255, 255);
}


.nameinput{
  margin-bottom: 8px;
  font-weight: 200;
}
.mailinput{
  margin-bottom: 8px;
  font-weight: 200;
}
.passwordinput{
  margin-bottom: 13px;
  font-weight: 200;
}
.alreadyhaveaccount{
  margin-bottom: 8px;
  color: #ffffff; /* 字体颜色 */
  font-weight: 300;
  cursor: pointer;
}

.alreadyhaveaccount:hover{
  color: #00ffcd;
  /* color: #7fffd4; */
  /* color: #ffdf7f; */
  
  }



.or {
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* or 文字的顏色 */
  color: #dddddd; /* 字体颜色 */

  position: relative;
}

.or::before,
.or::after {
  content: '';
  background-color: #ffffff; /* 橫線的顏色 */
  background-color: #dddddd; /* 字体颜色 */
  height: 1px;
  width: 76px;
  position: absolute;
  top: 50%;
}

.or::before {
  right: 100%;
  margin-right: 15px; /* 橫線與文字的間距 */
}

.or::after {
  left: 100%;
  margin-left: 15px; /* 橫線與文字的間距 */
}




