/* .logoutbtn{
  width: 150px;
  height: 50px;
  background-color: aqua;
  border-radius: 15px;
} */


.logoutbtnw{

  display: flex;
  align-items: center;

}
.logoutbtn{
  line-height: 80%;
  cursor: pointer;
  border-radius: 80px;
  height: 100%;
  cursor: pointer;
  background-color: #00ffccab ;
  color:#7628f3;

  width: 68px;
  font-size: 17px;

  position: relative;
}

.logoutbtn:hover{

  background-color: #ffffff ;
  color:#00ffccab;
  .logoutBtnHint{
    opacity: 1; 
    visibility: visible; 
  }
}




.logoutBtnHint{
  top:40px;
  font-size: 10px;
  padding: 3px 12px;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 校正由于 left: 50% 导致的偏移 */
  white-space: nowrap; /* 防止換行 */

  opacity: 0; 
  visibility: hidden; 
}