

.AwesomeDownloadIcon{
  font-size: 15px;
}

.dwBtn{
  height: 32px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255) ;
  border-radius: 80px;
  cursor: pointer;
  width: 68px;
  font-size: 17px;

  transition: all 0.1s ease;
  color:#7628f3;
  background-color: #00ffccab ;
}
@media (max-width: 500px) {
  .dwBtn{
      width: 38px;
  }
}

.dwBtn:hover{
  background-color: #ffffff ;

  color:#00ffccab;
  .NavBtnHint{
    opacity: 1; 
    visibility: visible; 

  }
}


.NavBtnHint{
  position: absolute;
  top:55px;
  font-size: 10px;
  padding: 3px 12px;
  color: #ffffff;
  background-color: #191919;

  opacity: 0; 
  visibility: hidden;
}
