

.AwesomeDownloadIcon{
  font-size: 15px;
}

.dwBtn{
  height: 32px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80%;
  color: rgb(255, 255, 255) ;
  border-radius: 80px;
  cursor: pointer;
  width: 68px;
  font-size: 17px;

  transition: all 0.1s ease;
  color:#7628f3;
  background-color: #00ffccab ;

}

.dwBtn:hover{
  background-color: #ffffff ;

  color:#00ffccab;
  .NavBtnHint{
    display: block;
  }
}


.NavBtnHint{
  position: absolute;
  top:55px;
  font-size: 14px;
  /* border: 1px red solid; */
  padding: 5px 18px;
  color: #ffffff;
  background-color: #191919;
  display: none;
}
