

.AwesomeDownloadIcon{
  font-size: 15px;
}

.dwBtn{
  height: 32px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80%;
  border-radius: 10px;

  cursor: pointer;
  width: 65px;
  border-radius: 70px;


  font-size: 17px;
  border: #00ffcc9e  1px solid;
  transition: all 0.1s ease;
  color:#7628f3;
  background-color: #00ffccab ;
}

.dwBtn:hover{

  color: rgb(255, 255, 255);


  cursor: pointer;
  background-color: #00ffcc9e ;
  /* background-color: aquamarine ; */
  background-color: #ffffff ;
  border: #ffffff 1.5px solid;
  color:#00ffccab;

}


